<h1><%= @blogger.name %></h1>

<h3>Likes: <%= @blogger.total_likes %></h3>
<h3>Featured Post: <%= link_to @featured_post.title, post_path(@featured_post) %></h3>
<ul>
  <% @most_written_destinations.each do |mwd| %>
    <li><%= link_to mwd.name, destination_path(mwd) %></li>
  <% end %>
</ul>